.form-elements div {
  margin-bottom: 100px;
}
.form-elements input {
  padding: 10px;
  width: min(500px, 100%);
  font-size: 20px;
}

.form-elements button {
  margin-left: 10px;
  margin-top: 10px;
}

#root main section {
  overflow: auto !important;
}

.form-elements #app {
  overflow: auto;
}

main.form-elements {
  overflow: auto;
}

.form-elements .container {
  overflow: auto;
}

.form-elements a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.form-elements a:hover {
  color: #535bf2;
}

.form-elements {
  margin: 0;
  background-color: #242424;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.form-elements h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.form-elements button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.form-elements button:hover {
  border-color: #646cff;
}
.form-elements button:focus,
.form-elements button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.form-elements .card {
  padding: 2em;
}

#app:has(.form-elements) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root:has(.form-elements) {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
