#monaco-editor {
  width: 100%;
  height: 600px;
  border: 1px solid #ccc;
}

.yRemoteSelection {
  background-color: var(--presence-color);
  opacity: 0.5;
}

.yRemoteSelectionHead {
  position: absolute;
  background-color: var(--presence-color);
  height: 200%;
  bottom: 0;
  width: 2px;
  box-sizing: border-box;
}

.yRemoteSelectionHead:after {
  position: absolute;
  content: " ";
  font-size: 10px;
  padding: 2px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: var(--presence-color);
  color: var(--sv-text-color);
  border-radius: 4px;
  left: 0px;
  bottom: 60%;
  opacity: 1;
}

.ql-cursor-selections .ql-cursor-selection-block {
  background-color: var(--presence-color) !important;
}

.ql-cursor-caret-container .ql-cursor-caret {
  background-color: var(--presence-color) !important;
}

.ql-cursor-flag {
  background-color: var(--presence-color) !important;
  color: var(--sv-text-color) !important;
}
