* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
}

#root {
  background: #e9e5ef;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  padding: 1rem;
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

section {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
}

h1 {
  font-size: 1rem;
  margin: 0.5rem;
  color: #39363e;
  text-align: center;
}

h2 {
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 0.5rem;
  color: #39363e;
}

button {
  all: unset;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1rem;
  height: 2rem;
  color: #efefef;
  text-align: center;
  background-color: #6210cc;
  cursor: pointer;
}

button:hover {
  background-color: #baa9ff;
  color: #39363e;
}

.container {
  background-color: #c9c4d1;
  border-radius: 6px;
  padding: 0.8rem 1rem;
  width: 100%;
}

hr {
  margin: 1rem 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c9c4d1;
  padding: 0;
  width: 100%;
}

.container * {
  width: 100%;
}

input {
  all: unset;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1rem;
  height: calc(2rem - 6px);
  color: #39363e;
  background-color: #fff;
  transition: 0.15s all ease-in;
  padding: 3px 10px;
  width: calc(100% - 20px) !important;
}

code {
  display: block;
}

.subscribe-options {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.events-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.last-message {
  margin-top: 1rem;
  width: 100%;
}
